<header
  [class.fixed]="isNavbarFixed"
  class="absolute inset-x-0 top-0 z-50 navbar"
>
  <nav
    class="flex items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <div class="flex lg:flex-1">
      <a [routerLink]="['/']" class="-m-1.5 p-1.5">
        <span class="sr-only">Griiken</span>
        <img
          class="h-8 w-auto"
          src="../../../assets/logo-no-background.png"
          alt=""
        />
      </a>
    </div>

    <div class="flex lg:hidden">
      <button
        (click)="test()"
        *ngIf="!isMenuOpen"
        type="button"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 dark:text-white text-gray-700"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a [routerLink]="['/']" style="cursor: pointer;"
        (click)="scrollToSection('home')"
        [ngClass]="{ active: activeSection === 'home' }"
        class="text-sm font-semibold leading-6 text-gray-900"
        >Home</a
      >

      <a [routerLink]="['/']" style="cursor: pointer;"
        (click)="scrollToSection('features')"
        [ngClass]="{ active: activeSection === 'features' }"
        class="text-sm font-semibold leading-6 text-gray-900"
        >Features</a
      >
      <a [routerLink]="['/']" style="cursor: pointer;"
        (click)="scrollToSection('process')"
        [ngClass]="{ active: activeSection === 'process' }"
        class="text-sm font-semibold leading-6 text-gray-900"
        >Process</a
      >

      <a [routerLink]="['/']" style="cursor: pointer;"
        (click)="scrollToSection('solutions')"
        [ngClass]="{ active: activeSection === 'solutions' }"
        class="text-sm font-semibold leading-6 text-gray-900"
        >Solutions</a
      >
      <a [routerLink]="['/']" style="cursor: pointer;"
        (click)="scrollToSection('pricing')"
        [ngClass]="{ active: activeSection === 'pricing' }"
        class="text-sm font-semibold leading-6 text-gray-900"
        >Pricing</a
      >
      <a [routerLink]="['/']" style="cursor: pointer;"
        (click)="scrollToSection('blogs')"
        [ngClass]="{ active: activeSection === 'blogs' }"
        class="text-sm font-semibold leading-6 text-gray-900"
        >Blogs</a
      >
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a [routerLink]="['/contactus']" style="cursor: pointer; font-size: 16px;"  class="navContact py-2 px-4  text-sm font-semibold leading-6 text-gray-900"
        >Contact us<span aria-hidden="true">&rarr;</span></a
      >
    </div>
  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div
    (click)="test()"
    *ngIf="isMenuOpen"
    class="lg:hidden"
    role="dialog"
    aria-modal="true"
  >
    <!-- Background backdrop, show/hide based on slide-over state. -->

    <div
      class="fixed right-0 z-50 w-full overflow-y-auto px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
      style="top: 0; background-color: white"
    >
      <div class="flex items-center justify-end">
        <button type="button" class="-m-2.5 rounded-md p-2.5  text-gray-700">
          <span class="sr-only">Close menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a
              (click)="scrollToSection('home')"
              [ngClass]="{ active_mobile: activeSection === 'home' }"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Home</a
            >
            <a
              (click)="scrollToSection('features')"
              [ngClass]="{ active_mobile: activeSection === 'features' }"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Features</a
            >
            <a
              (click)="scrollToSection('process')"
              [ngClass]="{ active_mobile: activeSection === 'process' }"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Process</a
            >
            <a
              (click)="scrollToSection('solutions')"
              [ngClass]="{ active_mobile: activeSection === 'solutions' }"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Solutions</a
            >
            <a
              (click)="scrollToSection('pricing')"
              [ngClass]="{ active_mobile: activeSection === 'pricing' }"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Pricing</a
            >
            <a
              (click)="scrollToSection('blogs')"
              [ngClass]="{ active_mobile: activeSection === 'blogs' }"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Blogs</a
            >
          </div>
          <div class="py-6">
            <a style="background-color: var(--logo-color); color: white;"
            [routerLink]="['/contactus']"
              class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Contact us</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
