/* You can add global styles to this file, and also import other style files */
body { margin: 0; font-family: 'Lexend Deca', sans-serif; }
:root {
    --main-color: #363062;
    --logo-color: rgb(34, 139, 230);
    --subtext-color:#717171;
}